// Colors

$blue: #0051d3;
$lightBlue: #0077eb;
$magenta: #ec1874;
$grey: #4d4d4d;
$gold: #ffc900;
$red: #fb1f29;

$breakpoint-xs: 550px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1200px;

$XS: 'min-width:'+ $breakpoint-xs;
$S: 'min-width:'+ $breakpoint-s;
$M: 'min-width:'+ $breakpoint-m;
$L: 'min-width:'+ $breakpoint-l;
